/* Базовые стили для проекта */

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;

    background: #1E2D3D;
}

.container {
    max-width: 4000px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;

    position: relative;

    font-family: 'Fira Code';
    font-size: 16px;
}

/* Активные элементы меню */

.active-list-item {
    border-bottom: 2px solid #FEA55F;
}

.active-list-link {
    color: #fff!important;
}

.active-wrapper-menu {
    top: 0!important;
    
    transition: .5s ease!important;
}

.active-footer {
    display: block!important;
}

.active-desc__code {
    transform: translateX(0)!important;
    z-index: 2!important;
}



/* Основные стили */

/* Верхний header  */
.header {
    width: 100%;
    height: 100vh;
    background: #1E2D3D;
}

.header__menu {
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;
    
    background: #1E2D3D;
    color: #607B96;
    border-top: 1px solid #607B96;
    border-bottom: 1px solid #607B96;


}

.header__logo {
    padding-left: 2rem;
    padding-right: 3rem;
    height: 100%;
    width: 15%;
    
    border-right: 1px solid #607B96;
    background: #1E2D3D;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 1001;

   

   
} 

.__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;  
    
    background: #1E2D3D;

    position: relative;
    z-index: 1001;

   
}

.__menu__list {
    display: flex;
}

.__menu__item {
    border-right: 1px solid #607B96;
    border-left: 1px solid #607B96;

    display: flex;
    align-items: center;

    padding: 1rem;
}

.__menu__link {
    text-decoration: none;
    color: #607B96;
    padding: 0 1rem 0 1rem;
}

.__menu__item-contact {
    height: 100%;
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid #607B96;
    cursor: pointer;
}

.burger-menu {
    width: 40px;
    height: 25px;

    flex-direction: column;
    justify-content: space-between;

    margin-right: 5rem;

    display: none;

    transition: .5s ease;
}



.burger-menu span {
    display: block;
    width: 100%;
    height: 2px;

    background-color: #607B96;

}

.burger-menu:before, .burger-menu:after {
    content: '';
    width: 100%;
    height: 2px;

    background-color: #607B96;

    display: block;

    transition: .5s ease;
}





.wrapper-burger-menu {
    width: 100%;
    height: 100%;

    position: absolute;
    top: -110%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    background: #011627;

    margin-top: 50px;

    transition: .5s ease;

}

.burger-menu__list {
    display: flex;
    flex-direction: column;
}

.burger-menu__item {
    width: 100%;

    padding: 1rem;
    
    border-bottom: 1px solid #1E2D3D;
}

.burger-menu__link {
    text-decoration: none;
    color: #fff;
}



/* Нижний footer */

.header__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1001;

    width: 100%;
    height: 50px;

    background: #1E2D3D;
    color: #607B96;
    border-top: 1px solid #607B96;
    border-bottom: 1px solid #607B96;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find-info {
    height: 100%;
    width: 30%;

    display: flex;
}

.find-info__text {
    display: flex;
    align-items: center;

    height: 100%;

    padding: 0 1rem 0 1rem;

    
}

.find-info__telegram {
    height: 100%;
    width: 40%;

    border-right: 1px solid #607B96;
    border-left: 1px solid #607B96;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

}

path {
    transition: .5s ease;
}

.find-info__telegram:hover path {
    fill: #D9D9D9;
    
}

.find-info__item {
    padding: 0 1rem 0 1rem;
}



.git-user {
    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid #607B96;
    cursor: pointer;

    transition: .5s ease;
}

.git-user svg {
    margin-left: 1rem;
}

.git-user:hover {
    color: #fff;
}

.git-user:hover path {
    fill: #D9D9D9;
}

/* Основной content на главной страницы */
.header__content {
    width: 100%;
    height: 100%;
    
    display: flex;

}

.header__content-main-block {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;

    transform: translate(0, -50%);

    display: flex;

    color: #fff;  
}

.preview-text {
    width: 100%;

    font-size: 18px;
    font-weight: 450;

    padding-bottom: 1rem;
    padding-left: 2rem;
}

.main-title {
    width: 100%;

    font-size: 62px;
    font-weight: 400;
    
    padding-bottom: 2rem;
}

.subtitle {
    width: 100%;

    font-size: 32px;
    font-weight: 450;
    color: #4D5BCE;

    padding-bottom: .5rem;
    padding-left: 2rem;

    cursor: pointer;
}

.comment-text {
    padding-top: 65px;

    color: #607B96;
}

.comment-text__item {
    line-height: 1.5rem;
}

.js-text {
    padding-top: 2rem;
}

.js-text__blue {
    color: #4D5BCE;
}

.js-text__green {
    color: #43D9AD;
}

.js-text__link {
    text-decoration: none;
    color: #E99287;
}

.subtitle:hover {
    text-decoration: underline;
}

.js-text__link:hover {
    text-decoration: underline;
}

.header__content-copy {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

   

}

.header__content-game {
    width: 50%;
    
    background: url('../images/background-game.png') no-repeat center;

    position: relative;
}

.header__content-bolt-wrapper {
    display: flex;
    justify-content: space-between;
}

.content-game__left {
    width: 50%;
    padding: 1rem;

    display: flex;
    justify-content: center;


}

.game-canvas {
    width: 50%;
    height: 100%;

    background-color: #011627;

    position: absolute;
    z-index: 1000;
    top: 0;
}

.game-canvas__btn {
   position: absolute;
   bottom: 2rem;
   z-index: 1000;

   color: #000;
   background: #FEA55F;
   border: none;
   outline: none;
   border-radius: .5rem;
   font-family: 'Fira Code', sans-serif;

   padding: .5rem;

   transition: .5s ease;

}

.game-canvas__btn:hover {
    background: #fea45f81;
    color: rgba(255, 255, 255, 0.461);
}

.content-game__right {
   position: absolute;
   right: .5rem;
   z-index: 1000;
   bottom: 12rem;

}

.content-game__keyboard {
    background: rgba(1, 20, 35, .19);
    border-radius: 1rem;

    padding: .4rem;
}

.content-game__keyboard {
    font-size: 14px;
}

.keyboard__content {
    padding-bottom: 1rem;
}

.keyboard-text {
    line-height: 1.2rem;
}

.keyboard-btn__up {
    display: flex;
    justify-content: center;

    padding-bottom: 0.5rem;
}

.keyboard-btn__down {
    display: flex;
    justify-content: space-between;
    
}

.keyboard-btn__up-item, .keyboard-btn__down-item {
    background: #000;
    color: #fff;
    border-radius: .3rem;
    border: none;

    padding: .5rem;

    transition: .5s ease;
}

.keyboard-btn__up-item:hover, .keyboard-btn__down-item:hover {
    background: rgba(0, 0, 0, 0.409);
    color: #fff;
}

.foods__content {
    position: absolute;
    top: 10rem;

    width: 100%;
}

.foods-group {
    padding-top: 1rem;

    display: flex;
    justify-content: space-between;
}

.food {
    width: 10px;
    height: 10px;

    border-radius: 100%;
    background: #43D9AD;
    box-shadow: 0 0 5px 2px #43D9AD;

    margin-right: 0.2rem;

}

.skip__btn {
    position: absolute;
    top: 17rem;
    right: 1rem;

    font-family: 'Fira Code', sans-serif;
    border: 1px solid #fff;
    border-radius: .3rem;

    padding: .5rem;

    transition: .5s ease;

 
}

.skip {
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;

    transition: .5s ease;
}

.skip__btn:hover  {
    border: 1px solid #ffffff7a;
    color: #ffffff7a;
}
.skip__btn:hover .skip{
    color: #ffffff7a;
}

/* Content обо мне */

.header__content-about-block {
    width: 100%;
    height: 100%;

    display: flex;
}

.left-bar {
    height: 100%;
    width: 70px;

    border-left: 1px solid #ffffff7a;
    border-right: 1px solid #ffffff7a;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-bar__item {
    margin-bottom: 2rem;

    cursor: pointer;
}

.left-bar__info {
    margin-top: 1rem;
}

.folder-block {
    border-right: 1px solid #ffffff7a;

    max-width: 240px;
    width: 100%;
    height: 100%;
}

.personal-info__block, .contacts-info__block, .projects-info__block, .findSoc {
    width: 100%;

    padding: 1rem;

    border-bottom: 1px solid #ffffff7a;
    color: #fff;
}

.findSoc {
    border-top: 1px solid #ffffff7a;
}

.folder-block__block {
    padding: 1rem;

    color: #fff;
}

.folder-block__block-item {
    margin-top: 2rem;
}

.folder-block__input {
    position: absolute;
    z-index: -1;

    opacity: 0;
}


.folder-block__input + label {
    display: inline-flex;
    align-items: center;

    user-select: none;
}

.folder-block__input + label svg{
    margin-right: 0.5rem;
}

.folder-block__input + label:before {
    content: '';

    width: 1rem;
    height: 1rem;
    
    border: 1px solid #607B96;
    border-radius: .15rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    
    margin-right: 1rem;
}

.folder-block__input:checked + label:before {
    background: url('../images/icons/checked.svg') #607B96 no-repeat center center;
}

.folder-block__item {
    margin-bottom: 1rem;
}

.file-block__item {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.contacts-info__block {
    border-top: 1px solid #ffffff7a;
}

.contacts-info-block, .findSoc-info-block {
    padding: 1rem;

    font-size: 13px;
    color: #607B96;
}

.contacts-info__item, .findSoc-info__item{
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
}

.contacts-info__item span, .findSoc-info__item span {
    margin-left: 0.4rem;
}

svg.down-arrow {
    transform: rotate(90deg);
}

.about-me-block {
    width: 100%;
}

.about-me__header, .projects__header, .contacts__header {
    border: 1px solid #607B96;
    

    width: 100%;
}

.projects__header {
    position: absolute;
    top: 3.1rem;

}

.tab-personal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-right: 1px solid #607B96;
    color: #607B96;

    height: 100%;
    width: 40%;

    padding: .5rem;
}
.about-me__body {
    color: #607B96;

    display: flex;

    width: 100%;

    height: 100%;


}

.about-me__item {
    width: 50%;
    height: 100%;
}

.about-me__content {
    display: flex;
    justify-content: space-between;
    
    height: 100%;

    overflow: auto;

    /* border-right: 1px solid #607B96; */
}



.about-me__numbers {
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 2rem;
}

.about-me__numbers-item {
    padding-bottom: .5rem;
}

.about-me__text {
    padding-top: 2rem;
    padding-right: 2rem;
    margin-left: -10rem;

}

.about-me__text-item {
    padding-bottom: 0.5rem;
}

.about-me__scroll {
    width: 7%;
    height: 100%;

    border-left: 1px solid #607B96;
    border-right: 1px solid #607B96;

   


}

.scroll {
    width: 18px;
    height: 7px;

    background: #607B96;

    margin: 0 auto;
    margin-top: 0.3rem;
}

.--header-p {
    padding: 1.1rem;
}

.--fd {
    flex-direction: column;
    justify-content: start;
}

.about-me__content-text {
    margin-top: 1rem;
    margin-left: 1rem;
}



.user-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    padding: 3rem 1rem 10rem 1rem;
}

.user-wrapper {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    flex-direction: row;
}

.icon {
    margin-right: 1rem;
}

.icon img {
    width: 100%;
    height: 50px;

    border-radius: 50%;
}

.user-name {
    margin-bottom: .5rem;

    color: #5565E8;
}

.details-info {
    display: flex;
    align-items: center;
}

.details {
    display: flex;
    align-items: center;

    cursor: pointer;

    transition: .5s ease;
}

.details:hover {
    color: #fff;
}

.details:hover .path {
    fill: #fff;
}

.details svg {
    margin-right: 0.3rem;
}

.stars {
    display: flex;
    align-items: center;
}

.stars svg {
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}

.stars span:nth-child(2) {
    margin-right: .3rem;
}

.code {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;

    background-color: #011221;
    border: 3px solid #1E2D3D;
    border-radius: .6rem;

    width: 95%;
    height: 200px;

    display: block;
}

.desc__code {
    display: flex;
    justify-content: space-between;

    width: 95%;

    margin: 0 auto;
    margin-top: 1rem;
    padding: 1.5rem;

    border-top: 1px solid #607B96;

    transform: translateX(110%);
    transition: .5s ease;

    z-index: -1;
}

.close {
    cursor: pointer;

    width: 10%;
    height: 10%;

    transition: .5s ease;
}

.close:hover .close-path {
    fill: #fff;
}

/* Content Projects */

.header__content-projects-block {
    display: flex;
    align-items: center;

    width: 100%;  
}
.projects-block__body {
    display: flex;
}

.adaptive__text {
    display: none;
}

.projects-block__item {
    padding: 0 2rem;
}

.projects-block__icon {
   position: absolute;
   left: 80%;
   top: 10%;

   background: #86E1F9;
   border-radius: .2rem;

   padding: .3rem;
}

.tab-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-right: 1px solid #607B96;
    color: #607B96;

    height: 100%;
    width: 20%;

    padding: .5rem;
}



.projects-block__title {
    color: #607B96;
    line-height: 1.5;

    padding-bottom: 1rem;
}

.projects-block__title span {
    color: #5565E8;
}

.projects-block__card {
    color: #607B96;
    border: 1px solid #20374e;
    border-radius: .2rem;

    padding: 1rem;

    width: 100%;

    position: relative;

}

.projects-block__image {
    width: 100%;
    padding-bottom: 1rem;
}

.projects-block__image img {
   width: 100%;
}

.projects-block__btn {
    margin-top: 1rem;

    background: #20374e;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;

    padding: .5rem;

    width: 70%;
}

/* Контент Contacts */

.header__content-contacts-block {
    display: flex;

    width: 100%;
}
.contacts-block__content {
    width: 100%;
}

.contacts-block__body {
    display: flex;

    height: 100%;
}

.tab-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-right: 1px solid #607B96;
    color: #607B96;

    height: 100%;
    width: 20%;

    padding: .5rem;
}

.form {
    width: 50%;
    height: 100%;

    border-right: 1px solid #607B96;
}

.contacs__form {
    width: 80%;

    margin: 0 auto;
}
.input-name, .input-mail, .input-message {
    display: flex;

    flex-direction: column;

    width: 100%;
}

.contact__item-text {
    color: #607B96;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contacts__item {
    width: 100%;

    padding: .5rem;

    background-color: #011221;
    border: 1px solid #607B96;
    border-radius: .5rem;
    color: #607B96;
}

.textarea {
    height: 10rem;

    resize: none;

    color: #607B96;
}

.btn-form {
    padding: 1rem;
    margin-top: 0.5rem;

    background-color: #213345;
    border: none;
    color: #fff;
    border-radius: .5rem;
}

.contacts__code {
    display: flex;

    margin-left: 5rem;
}

.contacts__code-numbers {
    display: flex;
    flex-direction: column;
}

.contacts__code-numbers span {
    color: #607B96;
    margin-top: .5rem;
}

.contacts__code-item {

    font-size: 12px;
}

.contacts__code-item p {
    margin-top: 1rem;
    width: 100%;
}

.number {
    margin-left: 1rem;
}

.child-item {
    margin-left: 1rem;
}

.violet {
    color: #C98BDF;
}

.blue {
    color: #5565E8;
}

.orange {
    color: #FEA55F;
}

.gray {
    color: #607B96;
}




