/* Телефоны */


@media (max-width: 767px) {
    /* Основные стили для адаптива */
      
    body {
        overflow-y: auto!important;
    }
  

    .header {
        height: 100%!important;
    }

    .header__logo {
        border: none!important;
        width: 80%!important;
    }

    .header__menu {
        padding-left: 1rem;

        position: relative;
        z-index: 1001;
    }

    .__menu {
        display: none!important;
    }

    .__menu__item-contact {
       display: none!important;
    }

    .burger-menu {
        display: flex!important;

        width: 10%!important;

        margin-right: 1rem!important;
        margin-bottom: .5rem!important;
        margin-top: .5rem;

        position: relative!important;
        z-index: 1001!important;
    }

    .burger-menu.active-menu-burger:before {
        position: absolute!important;
        top: 1rem;

        transform: rotate(45deg)!important;
        transition: .5s ease!important;
    }

    .burger-menu.active-menu-burger:after {
        position: absolute!important;
        top: 1rem;

        transform: rotate(-45deg)!important;
        transition: .5s ease!important;
    }

    .burger-menu.active-menu-burger span {
        display: none;

        transition: .5s ease!important;
    }

    .header__content-main-block {
        width: 100%!important;

        display: flex!important;
        justify-content: center!important;
        align-items: center!important;

        text-align: center;
    }

    .__menu__list {
       display: none!important;
    }

    .preview-text {
        font-size: 18px!important;
    }

    .main-title {
        font-size: 62px!important;
        width: 7rem;
    }

    .subtitle {
        font-size: 18px!important;
    }

    .comment-text__item:first-child {
        display: none!important;
    }

    .js-text__link {
        line-height: 2rem!important;
    }

    .header__footer {
        display: none!important;
    }

    .header__content-game {
        display: none;
    }

    .find-info {
        justify-content: space-between!important;

        width: 100%!important;
    }

    .git-user {
        display: none!important;
    }

    .header__content-about-block {
        flex-direction: column;
    }

    .left-bar {
        display: none!important;
    }

    .folder-block {
        border: none!important;

        width: 100%;
        max-width: 100%!important;
    }

    .about-me__item {
        margin: 0 auto;

        width: 100%!important;
        
        text-align: center;
    }

    .about-me__text-item span{
        display: none!important;
    }

    .about-me__content-text {
        text-align: center;
    }

    .personal-info__block, .contacts-info__block, .projects-info__block {
        border: none!important;
        background: #2b435d;

        width: 100%!important;
    }

    .about-me__body {
        flex-direction: column;
    }

    .about-me__content {
        flex-direction: column;
    }

    .about-me__header {
        display: none!important;
    }

    .about-me__scroll {
        display: none!important;
    }

    .about-me__numbers {
        display: none!important;
    }

    .stars {
        display: none!important;
    }

    .user-group {
        overflow-x: hidden;
    }

    .header__content-projects-block {
        flex-direction: column;
    }

    .projects__header {
        display: none!important;
    }

    .projects-block__body {
        flex-direction: column!important;
    }

    .adaptive__text {
        display: block!important;

        margin-left: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;

        color: #fff;
    }

    .adaptive__text span {
        color: #607B96;
    }

    .projects-block__item {
        margin-top: 1rem!important;
    }

    
}
/* Планшеты */


@media (min-width: 768px) AND (max-width: 1000px) {
    /* Основные стили */


    body {
        overflow-y: auto!important;
    }
  

    .header {
        height: 100%!important;
    }

    .header__logo {
        border: none!important;
        width: 80%!important;
    }

    .header__menu {
        padding-left: 1rem;

        position: relative;
        z-index: 1001;
    }

    .__menu {
        display: none!important;
    }

    .__menu__item-contact {
       display: none!important;
    }

    .burger-menu {
        display: flex!important;

        width: 10%!important;

        margin-right: 1rem!important;
        margin-bottom: .5rem!important;
        margin-top: .5rem;

        position: relative!important;
        z-index: 1001!important;
    }

    .burger-menu.active-menu-burger:before {
        position: absolute!important;
        top: 1rem;

        transform: rotate(45deg)!important;
        transition: .5s ease!important;
    }

    .burger-menu.active-menu-burger:after {
        position: absolute!important;
        top: 1rem;

        transform: rotate(-45deg)!important;
        transition: .5s ease!important;
    }

    .burger-menu.active-menu-burger span {
        display: none;

        transition: .5s ease!important;
    }

    .header__content-main-block {
        width: 100%!important;

        display: flex!important;
        justify-content: center!important;
        align-items: center!important;

        text-align: center;
    }

    .__menu__list {
       display: none!important;
    }

    .preview-text {
        font-size: 18px!important;
    }

    .main-title {
        font-size: 62px!important;
        width: 7rem;
    }

    .subtitle {
        font-size: 18px!important;
    }

    .comment-text__item:first-child {
        display: none!important;
    }

    .js-text__link {
        line-height: 2rem!important;
    }

    .header__footer {
        display: none!important;
    }

    .header__content-game {
        display: none;
    }

    .find-info {
        justify-content: space-between!important;

        width: 100%!important;
    }

    .git-user {
        display: none!important;
    }

    .header__content-about-block {
        flex-direction: column;
    }

    .left-bar {
        display: none!important;
    }

    .folder-block {
        border: none!important;

        width: 100%;
        max-width: 100%!important;
    }

    .about-me__item {
        margin: 0 auto;

        width: 100%!important;
        
        text-align: center;
    }

    .about-me__text-item span{
        display: none!important;
    }

    .about-me__content-text {
        text-align: center;
    }

    .personal-info__block, .contacts-info__block, .projects-info__block {
        border: none!important;
        background: #2b435d;

        width: 100%!important;
    }

    .about-me__body {
        flex-direction: column;
    }

    .about-me__content {
        flex-direction: column;
    }

    .about-me__header {
        display: none!important;
    }

    .about-me__scroll {
        display: none!important;
    }

    .about-me__numbers {
        display: none!important;
    }

    .stars {
        display: none!important;
    }

    .user-group {
        overflow-x: hidden;
    }
}
